<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sdk topic test</title>
</head>
<body>
    <div id="app">
        <p>
            配置:
            allow_reply: {{allow_reply}} | 
            allow_publish: {{allow_publish}} |
            needs_check: {{needs_check}} 
        </p>
        <p>
            用户设置
            <input v-model="user.name" placeholder="name">
            <input v-model="user.avatar" placeholder="avatar">
            <input v-model="user.id" placeholder="visitor_id">
            <button type="button" v-on:click="setUser">设置该cookie</button>
        </p>
        
        <p>
            发送话题/回复
            <input v-model="msg" placeholder="将要发送或回复的文字消息">
            <input v-model="topicId" placeholder="将要回复的topicId">
            <button type="button" v-on:click="sendTopic">发送话题</button>
            <button type="button" v-on:click="sendReply">发送回复</button>
            <p>图片
                <input v-model="images" placeholder="图片地址, 多个以英文逗号分隔">
            </p>
        </p>

        <hr>
        <p>
            话题及回复列表
            <p>
                <button v-on:click="loadTopic">加载第{{page}}页话题</button>
            </p>
        </p>
    </div>

    <script>window.FETCHER_SERVER_URL = "ws://fetcher.mudu.tv:8088";</script>
    <script src="https://static.mudu.tv/fetcher/bundle.6d7aca164d2389e8bea6.js"></script>
    <script src="/sdk.js" ></script>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
    <script>
        var app 
        Mudu.Init(180266, function () {
            app = new Vue({
                el: '#app',
                data: {
                    user: Mudu.Room.User.GetUser(),
                    msg: '',
                    topicId: '',
                    images: '',
                    addIngImg: '',
                    topicList: [],
                    page: 1
                },
                created: function () {
                    console.log('created')
                    this.initData()
                    this.msgbus()
                },
                methods: {
                    initData: function () {
                        this.allow_reply = Mudu.Room.Topic.GetAllowReply()
                        this.allow_publish = Mudu.Room.Topic.GetAllowPublish()
                        this.needs_check = Mudu.Room.Topic.GetNeedsCheck()
                    },

                    msgbus: function () {
                        Mudu.MsgBus.On('Topic.AllowReply', status => {
                            console.log('reply', status)
                            this.allow_reply = status
                        })

                        Mudu.MsgBus.On('Topic.AllowPublish', status => {
                            console.log('publish', status)
                            this.allow_publish = status
                        })
                        
                        Mudu.MsgBus.On('Topic.NeedsCheck', status => {
                            console.log('needscheck', status)
                            this.needs_check = status
                        })

                        Mudu.MsgBus.On('Topic.New', topic => {
                            console.log('topic.new', topic)
                        })

                        Mudu.MsgBus.On('Topic.Reply.New', reply => {
                            console.log('reply.new', reply)
                        })

                        Mudu.MsgBus.On('Topic.Top', topic => {
                            console.log('topic.top', topic)
                        })
                    },

                    setUser: function () {
                        Mudu.Room.User._SetCookie(this.user.name, this.user.avatar, this.user.id)
                        console.log(Mudu.Room.User.GetUser())
                    },

                    sendTopic : function () {
                        var obj = {msg: this.msg, images: this.images.split(',').filter(v => v)}
                        console.log(obj)
                        Mudu.Room.Topic.SendTopic(obj, res => {
                            console.log('sendTopic', res)
                            this.msg = ''
                            this.images = ''
                        })
                    },

                    sendReply: function () {
                        var obj = {topicId: this.topicId, msg: this.msg}
                        Mudu.Room.Topic.SendReply(obj, res => {
                            console.log('sendReply', res)
                            this.msg = ''
                            this.topicId = ''
                        })
                    },

                    loadTopic: function () {
                        Mudu.Room.Topic.Get(this.page, res => {
                            console.log('Topic.Get', JSON.parse(res))
                            this.page++
                        })
                    }
                }
            })
        })
    </script>
</body>
</html>
