/* * 这东西叫“通配符”用来匹配页面上所有元素。因为某些元素如 body、 li、 p 这是有默认的margin值，这样就不方便我们精确控制，所以我们干脆就先把所有元素的margin、padding先设置为0，以后根据需要再单独设置某一项的margin和padding数值 。 */
* {
    margin: 0;
    padding: 0;
}
.app {
    max-width: 1440px;
    height: 3900px;
    padding: 40px;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;   
    background-color: aqua;
}
.app_header {
    background: rgb(193, 241, 17);
    min-height: 120px;
    text-align: left;
    line-height: 20px;
    padding: 10px;
    width: 1340px;
}
.container{
    width: 1340px;
    height: 585px;
}
#act_name, #act_status, #act_viewnum, #roomPlayAddr{
    font-size: 15px;
    width: 1340px;
    overflow: scroll;
    color: #1115ec;
    font-weight:bold;
    margin-top: 10px;
    display: list-item;

}
.palyer_part{
    position: absolute;
    top: 170px;
    width: 670px;
}
.comment_part{
    position: relative;
    left: 688px;
    top: 10px;
    width: 670px;
    padding-left: 4px;
}
.showarea{
    width: 640px;
    height: 360px;
    border: 2px solid;
}
.button_part{
    margin: 10px;
    padding: 5px;

}
.switch_btn, .play_btn, .pause_btn, .stop_btn, .state_btn, .live_btn{
    width: 70px;
    height: 25px;
    background-color: rgb(200, 255, 0);
    border:2px solid;
    border-radius:25px;
    display: inline-block;
}
.barrage{
    width: 640px;
    height: 139px;
    background-color: rgb(31, 182, 241);
    margin-top: 10px;
    border:2px solid;
    overflow: scroll;
    position: relative;
}

.content {
    /* top: 200px; */
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    display: inline-block;
    padding: 4px 18px;
    color: rgb(227, 241, 22);
    position: absolute;
    white-space: nowrap;
    /* transition: all 0.3s; */
}
/* 动画这样写 */
@keyframes barrage {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}

.show-history, .check-page{
    float: left;
    width: 48%;
    border:2px solid;

}
.check-page{
    margin-left: 2.5%;
    
}
.comments_history, .check_history{
    width: 281.5px;
    height: 335px;
    background-color: rgb(10, 247, 61);
    overflow: auto;
    -webkit-box-direction: reverse;
    padding-left: 40px;
    padding-top: 10px;
    position: relative;

}
.comments{
    height: 60px;
    background-color: rgb(37, 216, 61);
    
}
.page{
    height: 40px;
    background-color: rgb(37, 216, 61);
    
}
.allpage{
    background-color: rgb(37, 216, 61);
    height: 20px;
}
.page_area{
    background-color: rgb(250, 250, 250);
    height: 30px;
    width: 260px;
}
.img{
    width: 20px;
    height: 20px;
    background-color: rgb(216, 37, 192);
    margin-top: 5px;
}
.comment_area{
    background-color: rgb(250, 250, 250);
    height: 50px;
    width: 260px;
}
.player{
    width: 640px;
    height: 360px;
}
.ppt_wrap, .luckyDrawWrap, .SignUpWrap, .vote{
    width: 134.5px;
    float: left;
    height: 120px;
    margin-top: 10px;

}
.ppt_wrap, .luckyDrawWrap{
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(156, 19, 235);
    border:2px solid;
}
.SignUpWrap, .vote{
    padding: 10px;
    margin-left: 5px;
    margin-right: 3px;
    background-color: rgb(156, 19, 235);
    border:2px solid;
}
#uname, #voucher{
    width: 100%;

}
.topic-all{
    width: 1340px;
    height: 170px;
    /* background-color: #1115ec; */

}
.topic-page, .topic{
    width: 640px;
    border:2px solid;

}
.topic-page{
    background-color: chocolate;
    height: 170px;
    
}
.topic{
    width: 664px;
    height: 170px;
    font-size: 10px;
    position: relative;
    top: -174px;
    left: 692px;
}
.topic_area{
    width: 580px;
    height: 160px;
}

.topic_btn, .vote_btn, .SignUp_btn, .lucky_btn, .luckyresult_btn, .lucky_close_btn, .result_close_btn, .signuplucky_btn, .signup-close, .signsubmit-btn, .page_btn, .comment_btn{
    border:2px solid;
    border-radius:25px;
    width: 50px;
}

.getavatar{
    widows: 20px;
    height: 20px;
    overflow: hidden;
}
.getmsg{
    overflow: scroll;
}

#setdata{
            
    display: none;           
    position: relative;
    z-index:99999;           
    left:10%;           
    top:10%;           
    width:250px;           
    height:150px;           
    background-color:rgb(10, 218, 233);          
    text-align: center;           
}         
.lucky_close_btn{
    position: absolute;
    left: 60%;
    top:75%;
}  
.signuplucky_btn{
    position: absolute;
    left: 20%;
    top:75%;
} 
.table{
    position: absolute;
    left: 15%;
    top: 15%;
}
.resultpage{
    display: none;           
    position: relative;
    z-index:99999;           
    left:10%;           
    top:10%;           
    width:250px;           
    background-color:rgb(233, 10, 203);          
    text-align: left;           
}
.allluckers{
    position: relative;
    left: 5%;
    top: 15%;
    padding: 6px;
}
.luckers{
    position: relative;
    left: 15%;
    top: 15%;
    padding: 6px;
}
.result_close_btn{
    position: relative;
    left: 75%;
    margin-top: 8px;
}
.signup-all{
    background-color: rgb(240, 236, 21);
    position: relative;
    left: -220%;
    top: 55%;
    width: 600px;
    /* height: 800px; */
    z-index:99999;
    display: none;
}
.signup-column-box{
    position: relative;
    left: 5%;
    padding: 10px;
    line-height: 90px;
}
.listdiv{
    position: relative;
    /* left: 1%; */
    margin: 10px;
    width: 90%;
    line-height: 20px;
    background-color: rgb(226, 43, 83);

}
.signup-close{
    position: relative;
    left: 90%;
    margin-top: 8px;
}
.input-content-radio{
    width: 20px;
}
.signsubmit-btn{
    position: relative;
    left: 40%;
}
.sendsms-btn{
    border:2px solid;
    border-radius:25px;
    width: 70px;
}
