* {
    margin: 0;
    padding: 0;
}
.wrap{  
    font-size: 13px;
    line-height:180%; 
}
.header{
    text-align:center;
}
.container{   
    max-width: 3000px; 
    box-sizing: border-box;
    overflow: scroll; 
}
.tool-box{
    /* display: inline; */
    float: left;
    position: relative;
    width: 30.5%;
    height: 400px;
    margin-left: 1.1%;
    margin-top: 1.1%;
    border-style: solid; 
    border-width: 2px;
    overflow: auto;
    padding: 0.5%;
 

}
.playboxlist{
    overflow: scroll;
}
.room_7_2{
    position: relative;
    float: left;
}
.imgads{
    position: relative;
    width : 50%;
    height: 10%;
}
.comment_status, .topic_5_1_status{
    color: red;
}
.getavatar, .gethuatiavatar, .img{
    position: relative;
    width : 5%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}
.msg-page, .comment-page{
    position: relative;
    height: 180px;
    overflow: scroll;
    background-color: rgb(185, 185, 185);
}
.barrage{
    background-color: rgb(185, 185, 185);
    height: 200px;
    overflow: scroll;
    position: relative;
}
/* 弹幕动画这样写 */
@keyframes barrage {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}
.content {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    display: inline-block;
    padding: 4px 18px;
    color: rgb(227, 241, 22);
    position: absolute;
    white-space: nowrap;
}
.ollist{
    background-color: rgb(185, 185, 185);
    height: 150px;
    overflow: scroll;
    position: relative;
}
.ppt_img, .getppt_img, .changed_ppt_img, .sign_img, .imgads{
    position: relative;
    width : 55%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}
.vote_content_area{
    background-color: rgb(185, 185, 185);
}
.vote_content_item_image{
    position: relative;
    width : 10%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}
.page-history{
    position: relative;
    height: 180px;
    overflow: scroll;
    background-color: rgb(185, 185, 185);
}
.imgsigle, .huatiimg{
    position: relative;
    width : 10%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}
.gethuatiimgs{
    display: inline;
}
.topic-page, .topic_reply_page{
    position: relative;
    height: 180px;
    overflow: scroll;
    background-color:rgb(185, 185, 185);
}
/* ================================================ */
.webSDKDOC, .webDOC, .version{
    font-weight:bolder;
    color: rgb(12, 26, 224);
}

.init_0_1, .init_1_1, .init_2_1, .set_actid{
    font-weight:bold;
}

.play_0_1, .play_1_1, .play_2_1, .play_3_1, .play_4_1, .play_5_1, .play_6_1, .play_7_1, .play_8_1, .play_9_1, .play_10_1, .play_11_1{
    font-weight:bold;
}


.room_0_1, .room_1_1, .room_2_1, .room_3_1, .room_4_1, .room_5_1, .room_6_1, .room_7_1, .room_8_1, .room_9_1, .room_10_1{
    font-weight:bold;
}


.commit_0_1, .commit_1_1, .commit_2_1, .commit_3_1, .commit_3_2, .commit_3_3, .commit_3_4{
    font-weight:bold;
}


.danmu_0_1, .danmu_1_1{
    font-weight:bold;
}

.lucky_0_1, .lucky_1_1, .lucky_2_1, .lucky_3_1{
    font-weight:bold;
}

.getcurppt_url, .ppt_1_1, .ppt_2_1, .ppt_3_1, .ppt_4_1, .ppt_5_1, .ppt_6_1_0, .ppt_7_1, .ppt_8_1, .ppt_9_1, .ppt_10_1, .ppt_11_1{
    font-weight:bold;
}


.vote_0_1, .vote_1_1, .vote_2_1{
    font-weight:bold;
}


.sign_0_1, .sign_1_1, .sign_2_1{
    font-weight:bold;
}



.topic_0_1, .topic_1_1, .topic_2_1, .topic_3_1, .topic_4_1, .topic_5_1, .topic_6_1, .topic_7_1, .topic_8_1, .topic_9_1, .topic_10_1, .topic_11_1, .topic_12_1{
    font-weight:bold;
}


/* 顶部组件名 */
.topline{
    font-weight:bolder;
    background-color: rgb(240, 218, 24);
    text-align:center;
   
}

/* 按钮 */

/* .init_btn, .play_1_1, .play_2_1, .play_3_1, .play_4_1, .play_5_1, .play_6_1, .play_7_1, .comment_btn, .page_btn, .signuplucky_btn, .lucky_2_1, .getppt_btn, .vote_1_1, .signmsg_btn, .signsubmit_btn, .gettopic_btn, .topic_btn{
   
} */


.getpage, .huatidata, .gethuatipage, .replyout, .luckers, .msg_area{
    position: relative;
    /* width: 9%; */
    left: 6%;
}














